<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- ======= NON-SIMULATED CONTENT ======= -->
  <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
    <arg name="input_width" value="640"/>
    <arg name="input_height" value="360"/>
  </include>
  <!-- ======= ===================== ======= -->
  <node name="odometry" pkg="chrisAct1_1" type="odom.py" output="screen"/>
  
  <node name="crosswalkDetector" pkg="chrisAct1_1" type="crosswalkDetector.py" output="screen"/>

  <node name="trafficLightDetector" pkg="chrisAct1_1" type="trafficLightDetector.py" output="screen"/>

  <node name="signalsDetector3" pkg="chrisAct1_1" type="signalsDetector3.py" output="screen"/>

  <node name="instructAndInterruptChecker" pkg="chrisAct1_1" type="instructAndInterruptChecker.py" output="screen"/>

  <node name="lineFollower" pkg="chrisAct1_1" type="lineFollower.py" output="screen"/>
  
  <node name="goToPoints" pkg="chrisAct1_1" type="goToPoints.py" output="screen"/>

</launch>