<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- ======= SIMULATED CONTENT ========= -->
  <include file="$(find puzzlebot_world)/launch/puzzlebot_tec_challenge_update.launch">    
  </include>
  <!-- ======= ================= ========= -->

  <!-- ======= NON-SIMULATED CONTENT =======
  <include file="$(find ros_deep_learning)/launch/video_source.ros1.launch">
    <arg name="input_width" value="720"/>
    <arg name="input_height" value="480"/>
  </include>
  ======= ===================== ======= -->
  <node name="odometry" pkg="chrisAct1_1" type="odom.py" output="screen"/>
  <node name="lineFollower" pkg="chrisAct1_1" type="lineFollower.py" args="simulation" output="screen"/>
  <node name="goToPoints" pkg="chrisAct1_1" type="goToPoints.py" output="screen"/>

</launch>